<div class="content">
  <div class="serch-content">
    <nz-input [nzType]="'search'"  [(ngModel)]="key" [nzPlaceHolder]="'输入你想知道的'" style="height: 38px;"></nz-input>
  </div>
  <div>
    <div *ngFor="let note of preNoteList" class="note-list" [@Float]="">
      <div class="note-title">
        <h1> <a (click)="linkTo(note.id)">{{note.title}}</a> </h1>
        <em class="date">{{note.creationTime}}</em>
      </div>
      <article  [innerHTML]="note.content"></article>
      <div class="note-btn">
        <div>
          <i class="anticon anticon-eye"></i>{{note.scan}}
          <i class="anticon anticon-heart"></i> {{note.like}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="loadMore" class="load-more" (click)="getNoteList()" >
    <span>点击加载更多</span><i class="anticon anticon-arrow-down"></i>
  </div>
  <div *ngIf="loading" class="load-more">
    <nz-spin></nz-spin>
  </div>
</div>
